
body {
	font-family: "Open Sans", sans-serif;

	background-color: #222222;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #0f0f0f 10px ), repeating-linear-gradient( #c4c3bf55, #181818 );   
	 color: rgb(15, 15, 15);
}


 hr {
     display:none}
h4 {
    font-size: 19px;}
 small {
     font-size: 10px}
 a {
     color:#ffd901}


  .container{
display: flex;
flex-flow: row wrap;
    justify-content: space-around;
    padding: 5%;

  }  

.video{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    border: 1px #363636 solid;
    border-radius: 15px;
    padding: 8px;
    margin: 10px;
    background-color: #363636;
    box-shadow: 5px 5px 6px 0px rgb(0 0 0 / 64%);
    }