
 hr {display:none}
h4 {font-size: 19px;}
 small {font-size: 10px}
 a {color:rgb(248, 91, 43)}
 div {
     display: flex;
	background: #DADADA; 
	border-bottom:14px solid #999;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
	}
.video{
   
    }