
body{
	background-color: #222222;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #0f0f0f 10px ), repeating-linear-gradient( #c4c3bf55, #181818 );   
	 color: rgb(15, 15, 15);
}
.container {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5%;
}


/* article:hover {
    transition: transform 0.1s, filter 0.02s ease-in-out;
    transform: scale(1.05);
} */

article {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    border: 1px #363636 solid;
    border-radius: 15px;
    padding: 8px;
    margin: 10px;
    background-color: #363636;
    webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.64); 
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.64);
    /*height: 100%;

    width: 20%; */
}

article>* {
    align-self: center;
    
    text-transform: uppercase;

}

article>h2 {
    text-align: center;
    color: #fff;
    margin: 10px 0px;
               
 }



article>img {
       height: 300px;
       border-radius: 5px;
 
}
article>audio {
    align-self: flex-end;
}


img:hover {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(1);
    /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .3s ease-in-out;
}

button {
    /*     width: 100%;
 */
    height: 40px;
    background-color: #363636;
    border-radius: 0px 0px 25px 25px;
    color: #fff;
    overflow: hidden;
    text-transform: uppercase;
}

button:hover {
    background-color: #1f1f1f;
}
.premium{
    font-size: 80px;
    text-align: center;
    color: #fff;
}