* {
    box-sizing: border-box;
  }
  body {

    background-color: #222222;
      background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #0f0f0f 10px ), repeating-linear-gradient( #c4c3bf55, #181818 );   
     color: rgb(15, 15, 15);
    font-family: sans-serif;
  }

  form {
    width: 350px;
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin-top: 20px;
    color: black;

    border-radius: 2px 2px 5px 5px;

    box-shadow: 0px 1px 5px rgb(0 0 0 / 30%);
  }


  
 
  h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }
  label, input,select {
    width: 100%;
    display: block;
    font-size: 1.2em;
  }
  input, select {
    padding: 5px;
    margin-bottom: 20px;
  }
  input[type="submit"] {
    width: 21%;
    margin: auto;
    background: #ffd901;
    color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    cursor: pointer;
  }
  .error {
    color: #ffd901;
  }