.wrap {
  width: 1250px;
  margin: auto;
}
.titulo {
font-size: 2rem;
text-align: center;
margin: 5px;
}
iframe{
  width: 100%;
}
.imgs {
 display: flex;
 justify-content: space-between;
 padding: 10px;
}
.imgs img {
  margin: 5px;
}