@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato:300&display=swap');
.linea{
  background: #636262;
  width: 37%;
  height: 2px;
  margin: 10px auto 16px;
}
.todo{
  display: flex;
  flex-wrap: wrap;
  font-family: josefin sans;
}
.txtf{
  display: flex;
  flex-flow: column;
  margin-bottom: 5px;
  width: 55%;
}
.forms{
  display: flex;
  flex-flow: column;
  margin: 1% 20%;
  padding: 10px 21px;
  background:white;
  border-radius: 4px;  
}
.politicas{margin: 10px 0;}
input[type=text], input[type=email], input[type=tel] {
  padding: 12px 20px;
  margin: 8px 0;
  border: transparent;
  box-sizing: border-box;
  color: black;
  background: transparent;
  border-bottom: 3px solid rgb(32, 32, 32);
  transition: all ease-in 0.3s;
  font-size: 0.9rem;
}
input[type=submit], input[type=reset] {
  width: 35%;
  background-color: #024a9b;
  color: white;
  padding: 13px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: josefin sans;
}
input:focus{
  border-bottom: 3px solid #ffa600;
}
.btn{
  display: flex;
  justify-content: space-around;
}
.mapa{
  margin-left: 3.2%;
  width: 40.8%;
  text-align: center;
}
.txt{
  text-align: left;
}
textarea {
  resize: none;
}





@media only screen and (max-width: 960px) {
  .todo {flex-flow: column;align-items: center;}
  .txtf {align-items: center;margin: 0 5px;}
  .mapa > iframe:nth-child(1) {border:0;width: 100%;}
  h1{font-size:2rem;}
}
@media only screen and (max-width: 768px) {
  .todo{flex-flow: column;align-items: center;}
  .txtf {align-items: center;margin: 0 5px;}
  .mapa > iframe:nth-child(1) {border:0;width: 100%;}
  h1{font-size:2rem;}
}
@media only screen and (max-width: 420px) {
  .todo{flex-flow: column;align-items: center;}
  .txtf {align-items: center;margin: 0 5px;}
  .mapa > iframe:nth-child(1) {border:0;width: 100%;}
  h1{font-size:2rem;}
}