.main {
  font-family: Arial;
  width: 70%;
  display: block;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin: 5px;
}
.instalaciones {
  width: 100%;
  margin: 0px auto;
}
.instalaciones .image {
  width: 100% !important ;
}
.slick-prev::before,
.slick-next::before {
  font-size: 2.5rem;
}
.slick-next {
  right: 24px;
}
.slick-prev {
  left: 0px;
  z-index: 1;
}
.slick-dots li {
  width: 60px;
}

.slick-dots li button::before {
  font-size: 12px;
  color: #0c7ac8;
}
.imgs{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
section article h2 {
  text-align: center;
  background: #0c7ac8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 7px;
}
.bar {
  border-top: 3px solid;
  width: 10em;
  display: block;
  padding-top: .2em;
  margin: auto;
}