a {
  color:black;
}
.perfil {
  display: flex;
  justify-content: space-around;
  margin: 15px auto;
}
.edit {
  width: auto;
  height: 30px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  cursor: pointer;
  background: #00a8d1;
  padding: 3px;
  border-radius: 5px;
  display: none;
}
.fa-edit{
  font-size: 1.5rem;
}
.profile-picture:hover .edit{
  display: block;
}
.profile-picture{position: relative;}
.profile-picture img {width: 100%;}
.titulo,
.nombre>p {
  font-size: 1.5rem;
}
.nombre>p {
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px;
  background: #ccc;
}
.cursos {
  display: flex;
  flex-flow: column;
}
ul {
  list-style: disclosure-closed;
}
ul li {
  margin: 10px;
}
.datos h1{
  border-bottom: 1px solid black;
}
table {
  border-collapse: collapse;
  margin: 10px auto;
}
th {
  background: #3498db;
  color: white;
  font-weight: bold;
}
td,
th {
  padding: 10px;
  border: 1px solid #232323;
  text-align: left;
  font-size: 18px;
}
tr:nth-child(odd){
  background: #78DBFF;
}
tr:nth-child(even){
  background: #61A1E8;
}