@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

#fotocarousel {
  width: 100%;
  height: 880px;
  position: fixed;
  z-index: -2;
  top: 0px;
  left: 0px;
}

#textoarriba {
  width: 100%;
  height: 880px;
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
}

#textoarriba p {
  margin-top: 210px;
  /* background: rgba(60 ,120, 150, 0.3); */
  border-radius: 15px;
  line-height: 200px;
  text-transform: uppercase;
  font-size: 8rem;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.6rem;
  color: white;
  text-shadow: 5px 5px 15px #055086;
}

section {
    margin-top: 620px;
}

section article.articuloindex {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  flex-flow: row;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -o-flex-flow: row;
  margin-top: 50px;
}

section article.indexarriba {
  margin-top: -250px;
}


section article.articuloindex div.objetoarticle {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  flex-flow: column;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -o-flex-flow: column;
  width: 50%;
  margin-bottom: 100px;
}


section article.articuloindex div.objetoarticle img {
  width: 95%;
  flex-grow: 2;
}

section article.articuloindex div.objetoarticle h2,
section article.articuloindex div.objetoarticle p {
  margin: 20px 40px;
  text-align: justify;
}

section article.articuloindex div.objetoarticle h2 {
  color: rgb(30, 113, 166);
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2.6rem;
}

section article.articuloindex div.objetoarticle p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
}

section article.articuloindex div.objetoarticle hr.divisoria {
  width: 60%;
  margin-left: 20%;
  background-color: rgb(30, 113, 166);
  height: 1px;
  border: none;
}

div.carousel {
 background: white;
 margin-top: -100px;
 cursor: url(../images/flecha.png), auto;
}

.tarjetas {
  text-align: center;
  padding: 30px 30px 50px;
  margin: 100px 15px 160px;
  position: relative;
  background: skyblue;
}

.tarjetas::before,
.tarjetas::after {
  content: "";
  border-top: 40px solid skyblue;
  border-right: 125px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.tarjetas::after {
  border-right: none;
  border-left: 125px solid transparent;
  left: auto;
  right: 0;
}

.tarjetas .icon {
  display: inline-block;
  font-size: 80px;
  color: #016d9b;
  margin-bottom: 20px;
  opacity: 0.6;
}

.tarjetas .description {
  font-size: 14px;
  color: #121212;
  font-family: 'Merriweather', serif;
  text-align: justify;
  margin-bottom: 30px;
  opacity: 0.9;
}

.tarjetas .tarjetas-content {
  width: 100%;
  left: 0;
  position: absolute;
}

.tarjetas .pic {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px #016d9b;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.tarjetas .pic img {
  width: 100%;
  height: auto;
}

.tarjetas .name {
  font-size: 15px;
  font-weight: bold;
  color: rgb(30, 93, 166);
  font-family: 'Merriweather', serif;
  text-transform: capitalize;
  margin: 10px 0 5px 0;
}

.tarjetas .title {
  display: block;
  font-size: 14px;
  color: rgb(30, 113, 166);
}

.owl-controls {
  margin-top: 20px;
}

.owl-pagination {
  display: flex;
  justify-content: center;
}

.owl-page {
  height: 10px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10%;
}

.owl-page:hover,
.owl-page.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.owl-page:not(first-item) {
  margin-left: 10px;
}

ul#menu li {
  font-size: 1.9rem;
}

ul#usuarios li {
  font-size: 1.8rem;
}

ul#usuarios li.sesion {
  font-size: 1.6rem;
}

body, html {
  height: 100%;
}

div#fondoindex {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: -1;
  display: none;
  background: white;
}

div#fondoindex img {
  height: 100%;
  width: 100%;
}

hr#separaciongaleria {
  width: 80%;
  margin: 30px 0px;
  margin-left: 10%;
  height: 1px;
  border: none;
  background: rgb(22, 140, 224);
}


footer {
  width: 100%;
  padding: 30px 5%;
  height: 240px;
  display: inline-block;
  background-image: linear-gradient(white, rgb(30, 113, 166));
}

footer div.cajapie {
  width: 30%;
  height: 180px;
  float: left;
  margin-top: 50px;
}

footer div.cajapie:nth-child(2) {
  border-left: 1px solid rgb(30, 113, 166);
  border-right: 1px solid rgb(30, 113, 166);
}

footer div.cajapie p {
  color: rgb(15, 85, 180);
  text-align: center;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  line-height: 50px;
  padding: 20px 0px;
  font-size: 2rem;
}

footer div.cajapie p span#rrss {
  cursor: pointer;
  font-size: 1.85rem;
}

footer div.cajapie p span#mail {
  font-size: 1.85rem;
}

footer div.cajapie p span {
/*  color: rgb(18, 108, 163);*/
color: rgb(15, 85, 180);
}
