.container {
    display: flex;
    flex-wrap: wrap;
}


/* article:hover {
    transition: transform 0.1s, filter 0.02s ease-in-out;
    transform: scale(1.05);
} */

article {
    display: flex;
    flex-direction: column;
    border: 1px #363636 solid;
    border-radius: 25px;
    margin: 8px;
    /*             height: 100%;
 */
    width: 20%;
}

article>* {
    align-self: center;
    text-transform: uppercase;
}

article>h2 {
    width: 50%;
    text-align: center;
    margin: 10px 0px;
    /*             font-size: 1em;
 }



img {
    border-radius: 25px 25px 0px 0px;
    /*     width: 100%;
 */
}

img:hover {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(1);
    /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .3s ease-in-out;
}

button {
    /*     width: 100%;
 */
    height: 40px;
    background-color: #363636;
    border-radius: 0px 0px 25px 25px;
    color: #fff;
    overflow: hidden;
    text-transform: uppercase;
}

button:hover {
    background-color: #1f1f1f;
}